/* ---- Button ---- */
@import '@resources';

.default {
    @include transition();
    font-family: 'Jost', sans-serif !important;
    text-align: center;
    cursor: pointer;

    &:hover,
    &:active {
        @include transition();
    }
}

.theme {
    background: $theme-color;;
    color: $white-1;
    padding: 13px 0;

    &:hover {
        background: $theme-btn-bg-hover;
        color: $theme-btn-color-hover;
    }

    &:active {
        background: $theme-btn-bg-active;
        color: $theme-btn-color-active;
    }
}

.theme_ghost {
    background: none;
    color: $theme-color;
    padding: 10px 0;
    border: 2px solid $theme-color;

    &:hover {
        background: $theme-color;
        color: $theme-ghost-btn-color-hover;
    }

    &:active {
        background: $theme-ghost-btn-bg-active;
        border-color: $theme-ghost-btn-bg-active;
        color: $theme-color;
    }
}

.white_ghost {
    background: none;
    color: $white-1;
    padding: 14px 0;
    border: 2px solid $white-1;

    &:hover {
        background: $white-1;
        color: $theme-color;
    }

    &:active {
        background: #ccc;
        border-color: #ccc;
    }
}