/* ---- Cases ---- */
@import '@resources';

.section_row {
    @include flexible();
    justify-content: space-between;

    @include mq($phablet) {
        justify-content: center;
    }
}

.button {
    width: rem(200);

    @include mq($phablet) {
        display: none;
    }
}

.button_mobile {
    display: none;
    width: 50%;
    margin: 40px auto 0;
    
    @include mq($phablet) {
        display: block;
    }
}

.wrapper {
    position: relative;
    width: $container-default-width;
    height: 600px;
    overflow: hidden;
    margin: 30px auto 0;

    @include mq(2000) {
        width: 100%;
        margin: 0;
        margin-top: 30px;
    }

    @include mq($tablet-large) {
        height: 350px;
    }

    @include mq($phablet) {
        height: 320px;
    }
}

.images {
    width: 120%;
    transform: rotate(30deg);
    position: absolute;
    left: 40%;
    top: 80%;
    transform: translate(-50%, -50%) rotate(30deg);

    @include mq(2000) {
        top: 60%;
    }

    @include mq($tablet-large) {
        width: 150%;
        left: 56%;
        top: 115%;
    }

    @include mq($tablet) {
        width: 150%;
    }

    @include mq($phablet) {
        width: 233%;
    }
}

.row {
    &:not(:last-of-type) {
        margin-bottom: 30px;

        @include mq($phablet) {
            margin-bottom: 20px;
        }
    }
}

.image {
    position: relative;
    width: 100%;
    height: rem(300);

    &:not(:last-of-type) {
        padding-right: 50px;
    }

    @include mq($laptop) {
        height: rem(240);
    }

    @include mq($tablet-large) {
        height: rem(200);
    }

    @include mq($tablet) {
        width: 110%;
        height: rem(180);
    }
}