/* ---- Variables ---- */
/* -- Colors -- */
$white-1: #fff;

$black-1: #111;
$black-2: #282828;

$red-color: #FF0050;
$theme-color: #373EF1;
$background-color: $white-1;

/* -- Buttons -- */
$theme-btn-bg-hover: #5F65F4;
$theme-btn-bg-active: #2C32C1;
$theme-btn-color-hover: $white-1;
$theme-btn-color-active: $white-1;

$theme-ghost-btn-color-hover: $white-1;
$theme-ghost-btn-bg-active: $white-1;

/* -- Typography -- */
$font-family: 'Jost', sans-serif;
$font-weight: 400;
$font-size: 20px;
$font-color: $black-1;

$h1-font-size: 54px;
$h2-font-size: 40px;
$h3-font-size: 24px;
$h4-font-size: 18px;

/* -- Transition -- */
$transition-property: all;
$transition-delay: 0.2s;
$transition-timing: ease; 

/* -- Link -- */
$link-hover-opacity: 0.7;

/* -- Media Query Breakpoints -- */
$phone: 480;
$phablet: 576;
$tablet: 768;
$tablet-large: 992;
$laptop: 1200;
$desktop: 1400;

/* -- Container -- */
$container-default-width: 1350px;
$container-desktop-gutter: 170;
$container-laptop-gutter: 80;
$container-tablet-large-gutter: 52;
$container-tablet-gutter: 32;
$container-phablet-gutter: 24;

/* -- Gutters -- */
$header-padding-desktop-gutter: 25px;
$header-padding-tablet-large-gutter: 15px;
$header-padding-tablet-gutter: 15px;
$header-padding-phablet-gutter: 15px;

$section-gutter: 100px + $header-padding-tablet-gutter * 2;